@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Monsieur+La+Doulaise&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(61, 61, 58);
}